<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <!-- Let's add Vue here -->
    <div id="app" style="padding: 60px;">

        <h1>Contact Form</h1>

        <form method="post" action="#">
            <div>
                <label for="name" style="margin-right: 40px;">Name</label>
                <input name="name" id="name" v-model="form.name" />
                <p style="color: red; margin-left: 110px; margin-top: 1px;">{{ nameValidation }}</p>
            </div>
            <div>
                <label for="email" style="margin-right: 40px;">Email</label>
                <input name="email" id="email" v-model="form.email" />
                <p style="color: red; margin-left: 110px; margin-top: 1px;">{{ emailValidation }}</p>
            </div>
            <div>
                <label for="message" style="margin-right: 22px;">Message</label>
                <textarea name="message" id="message" v-model="form.message"></textarea>
                <p style="color: red; margin-left: 110px; margin-top: 1px;">{{ messageValidation }}</p>
            </div>

            <button @click.prevent="validateForm">Send Form</button>
        </form>

        <div style="border: 2px solid gray; padding: 5px 20px; margin-top: 40px;">
            <h2>Form Details</h2>

            <p><strong>Name</strong> {{ form.name }}</p>
            <p><strong>Email</strong> {{ form.email }}</p>
            <p><strong>Message</strong> {{ form.message }}</p>
            <h2 style="color: red;">{{ error }}</h2>
        </div>

    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                form: {
                    name: '',
                    email: '',
                    message: '',
                },
                error: '',
            },
            methods: {
                validateForm: function () {
                    if (this.form.name.length && this.form.email.length && this.form.message.length) {
                        return this.error = 'Form Sent!';
                    }

                    return this.error = "Invalid Form";
                }
            },
            computed: {
                nameValidation: function () {
                    if (!this.form.name.length && this.error) {
                        return '*Name field is required';
                    }
                },
                emailValidation: function () {
                    if (!this.form.email.length && this.error) {
                        return '*Email field is required';
                    }
                },
                messageValidation: function () {
                    if (!this.form.message.length && this.error) {
                        return '*Message field is required';
                    }
                }
            }
        });
    </script>
</body>

</html>